<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<configuration>
   <ranges>
      <range name="geometry.columntype.beam1.bfi" value="C37" ratio="1000"/>
      <range name="geometry.columntype.beam1.bfo" value="C33" ratio="1000"/>
      <range name="geometry.columntype.beam1.description" ratio="1"/>
      <range name="geometry.columntype.beam1.hbeg" ratio="1000"/>
      <range name="geometry.columntype.beam1.hend" value="C29" ratio="1000"/>
      <range name="geometry.columntype.beam1.innerangle" value="C34" ratio="1000"/>
      <range name="geometry.columntype.beam1.outerangle" value="C38" ratio="1000"/>
      <range name="geometry.columntype.beam1.partid.idstr" ratio="1"/>
      <range name="geometry.columntype.beam1.partid.name" ratio="1"/>
      <range name="geometry.columntype.beam1.segmentindex" ratio="1"/>
      <range name="geometry.columntype.beam1.tfi" value="C36" ratio="1000"/>
      <range name="geometry.columntype.beam1.tfo" value="C32" ratio="1000"/>
      <range name="geometry.columntype.beam1.tw" value="C30" ratio="1000"/>
      <range name="geometry.columntype.beam2.bfi" value="C49" ratio="1000"/>
      <range name="geometry.columntype.beam2.bfo" value="C45" ratio="1000"/>
      <range name="geometry.columntype.beam2.description" ratio="1"/>
      <range name="geometry.columntype.beam2.hbeg" ratio="1000"/>
      <range name="geometry.columntype.beam2.hend" value="C41" ratio="1000"/>
      <range name="geometry.columntype.beam2.innerangle" value="C46" ratio="1000"/>
      <range name="geometry.columntype.beam2.outerangle" value="C50" ratio="1000"/>
      <range name="geometry.columntype.beam2.partid.idstr" ratio="1"/>
      <range name="geometry.columntype.beam2.partid.name" ratio="1"/>
      <range name="geometry.columntype.beam2.segmentindex" ratio="1"/>
      <range name="geometry.columntype.beam2.tfi" value="C48" ratio="1000"/>
      <range name="geometry.columntype.beam2.tfo" value="C44" ratio="1000"/>
      <range name="geometry.columntype.beam2.tw" value="C42" ratio="1000"/>
      <range name="geometry.columntype.column.bfi" value="C75" ratio="1000"/>
      <range name="geometry.columntype.column.bfo" value="C71" ratio="1000"/>
      <range name="geometry.columntype.column.description" ratio="1"/>
      <range name="geometry.columntype.column.hbeg" ratio="1000"/>
      <range name="geometry.columntype.column.hend" value="C67" ratio="1000"/>
      <range name="geometry.columntype.column.innerangle" value="C76" ratio="1000"/>
      <range name="geometry.columntype.column.outerangle" value="C72" ratio="1000"/>
      <range name="geometry.columntype.column.partid.idstr" ratio="1"/>
      <range name="geometry.columntype.column.partid.name" ratio="1"/>
      <range name="geometry.columntype.column.segmentindex" ratio="1"/>
      <range name="geometry.columntype.column.tfi" value="C74" ratio="1000"/>
      <range name="geometry.columntype.column.tfo" value="C70" ratio="1000"/>
      <range name="geometry.columntype.column.tw" value="C68" ratio="1000"/>
      <range name="material.flange" value="C21" ratio="1"/>
      <range name="material.web" value="C24" ratio="1"/>
      <range name="results.beam1.my.max.m" value="F21" ratio="0.001"/>
      <range name="results.beam1.my.max.n" value="F22" ratio="0.001"/>
      <range name="results.beam1.my.max.nog" value="F24" ratio="0.001"/>
      <range name="results.beam1.my.max.nug" value="F25" ratio="0.001"/>
      <range name="results.beam1.my.max.v" value="F23" ratio="0.001"/>
      <range name="results.beam1.my.min.m" value="L21" ratio="0.001"/>
      <range name="results.beam1.my.min.n" value="L22" ratio="0.001"/>
      <range name="results.beam1.my.min.nog" value="L24" ratio="0.001"/>
      <range name="results.beam1.my.min.nug" value="L25" ratio="0.001"/>
      <range name="results.beam1.my.min.v" value="L23" ratio="0.001"/>
      <range name="results.beam1.n.max.m" value="R21" ratio="0.001"/>
      <range name="results.beam1.n.max.n" value="R22" ratio="0.001"/>
      <range name="results.beam1.n.max.nog" value="R24" ratio="0.001"/>
      <range name="results.beam1.n.max.nug" value="R25" ratio="0.001"/>
      <range name="results.beam1.n.max.v" value="R23" ratio="0.001"/>
      <range name="results.beam1.n.min.m" value="X21" ratio="0.001"/>
      <range name="results.beam1.n.min.n" value="X22" ratio="0.001"/>
      <range name="results.beam1.n.min.nog" value="X24" ratio="0.001"/>
      <range name="results.beam1.n.min.nug" value="X25" ratio="0.001"/>
      <range name="results.beam1.n.min.v" value="X23" ratio="0.001"/>
      <range name="results.beam2.my.max.m" value="G21" ratio="0.001"/>
      <range name="results.beam2.my.max.n" value="G22" ratio="0.001"/>
      <range name="results.beam2.my.max.nog" value="G24" ratio="0.001"/>
      <range name="results.beam2.my.max.nug" value="G25" ratio="0.001"/>
      <range name="results.beam2.my.max.v" value="G23" ratio="0.001"/>
      <range name="results.beam2.my.min.m" value="M21" ratio="0.001"/>
      <range name="results.beam2.my.min.n" value="ML22" ratio="0.001"/>
      <range name="results.beam2.my.min.nog" value="M24" ratio="0.001"/>
      <range name="results.beam2.my.min.nug" value="M25" ratio="0.001"/>
      <range name="results.beam2.my.min.v" value="M23" ratio="0.001"/>
      <range name="results.beam2.n.max.m" value="S21" ratio="0.001"/>
      <range name="results.beam2.n.max.n" value="S22" ratio="0.001"/>
      <range name="results.beam2.n.max.nog" value="S24" ratio="0.001"/>
      <range name="results.beam2.n.max.nug" value="S25" ratio="0.001"/>
      <range name="results.beam2.n.max.v" value="S23" ratio="0.001"/>
      <range name="results.beam2.n.min.m" value="Y24" ratio="0.001"/>
      <range name="results.beam2.n.min.n" value="Y22" ratio="0.001"/>
      <range name="results.beam2.n.min.nog" value="Y24" ratio="0.001"/>
      <range name="results.beam2.n.min.nug" value="Y25" ratio="0.001"/>
      <range name="results.beam2.n.min.v" value="Y23" ratio="0.001"/></ranges></configuration>