<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<configuration>
   <ranges>
      <range name="geometry.columntype.beam1.bfi" value="C36" ratio="1000"/>
      <range name="geometry.columntype.beam1.bfo" value="C32" ratio="1000"/>
      <range name="geometry.columntype.beam1.description" ratio="1"/>
      <range name="geometry.columntype.beam1.hbeg" ratio="1000"/>
      <range name="geometry.columntype.beam1.hend" value="C28" ratio="1000"/>
      <range name="geometry.columntype.beam1.innerangle" value="C33" ratio="1000"/>
      <range name="geometry.columntype.beam1.outerangle" value="C37" ratio="1000"/>
      <range name="geometry.columntype.beam1.partid.idstr" ratio="1"/>
      <range name="geometry.columntype.beam1.partid.name" ratio="1"/>
      <range name="geometry.columntype.beam1.segmentindex" ratio="1"/>
      <range name="geometry.columntype.beam1.tfi" value="C35" ratio="1000"/>
      <range name="geometry.columntype.beam1.tfo" value="C31" ratio="1000"/>
      <range name="geometry.columntype.beam1.tw" value="C29" ratio="1000"/>
      <range name="geometry.columntype.beam2.bfi" value="C49" ratio="1000"/>
      <range name="geometry.columntype.beam2.bfo" value="C45" ratio="1000"/>
      <range name="geometry.columntype.beam2.description" ratio="1"/>
      <range name="geometry.columntype.beam2.hbeg" ratio="1000"/>
      <range name="geometry.columntype.beam2.hend" value="C41" ratio="1000"/>
      <range name="geometry.columntype.beam2.innerangle" value="C50" ratio="1000"/>
      <range name="geometry.columntype.beam2.outerangle" value="C46" ratio="1000"/>
      <range name="geometry.columntype.beam2.partid.idstr" ratio="1"/>
      <range name="geometry.columntype.beam2.partid.name" ratio="1"/>
      <range name="geometry.columntype.beam2.segmentindex" ratio="1"/>
      <range name="geometry.columntype.beam2.tfi" value="C48" ratio="1000"/>
      <range name="geometry.columntype.beam2.tfo" value="C44" ratio="1000"/>
      <range name="geometry.columntype.beam2.tw" value="C42" ratio="1000"/>
      <range name="geometry.columntype.column.bfi" value="C62" ratio="1000"/>
      <range name="geometry.columntype.column.bfo" value="C58" ratio="1000"/>
      <range name="geometry.columntype.column.description" ratio="1"/>
      <range name="geometry.columntype.column.hbeg" ratio="1000"/>
      <range name="geometry.columntype.column.hend" value="C53" ratio="1000"/>
      <range name="geometry.columntype.column.innerangle" value="C63" ratio="1000"/>
      <range name="geometry.columntype.column.outerangle" value="C59" ratio="1000"/>
      <range name="geometry.columntype.column.partid.idstr" ratio="1"/>
      <range name="geometry.columntype.column.partid.name" ratio="1"/>
      <range name="geometry.columntype.column.segmentindex" ratio="1"/>
      <range name="geometry.columntype.column.tfi" value="C61" ratio="1000"/>
      <range name="geometry.columntype.column.tfo" value="C57" ratio="1000"/>
      <range name="geometry.columntype.column.tw" value="C54" ratio="1000"/>
      <range name="material.flange" value="C20" ratio="1"/>
      <range name="material.web" value="C23" ratio="1"/>
      <range name="results.beam1.my.max.m" value="F20" ratio="0.001"/>
      <range name="results.beam1.my.max.n" value="F21" ratio="0.001"/>
      <range name="results.beam1.my.max.nog" value="F23" ratio="0.001"/>
      <range name="results.beam1.my.max.nug" value="F24" ratio="0.001"/>
      <range name="results.beam1.my.max.v" value="F22" ratio="0.001"/>
      <range name="results.beam1.my.min.m" value="K20" ratio="0.001"/>
      <range name="results.beam1.my.min.n" value="K21" ratio="0.001"/>
      <range name="results.beam1.my.min.nog" value="K23" ratio="0.001"/>
      <range name="results.beam1.my.min.nug" value="K24" ratio="0.001"/>
      <range name="results.beam1.my.min.v" value="K22" ratio="0.001"/>
      <range name="results.beam1.n.max.m" value="P20" ratio="0.001"/>
      <range name="results.beam1.n.max.n" value="P21" ratio="0.001"/>
      <range name="results.beam1.n.max.nog" value="P23" ratio="0.001"/>
      <range name="results.beam1.n.max.nug" value="P24" ratio="0.001"/>
      <range name="results.beam1.n.max.v" value="P22" ratio="0.001"/>
      <range name="results.beam1.n.min.m" value="U20" ratio="0.001"/>
      <range name="results.beam1.n.min.n" value="U21" ratio="0.001"/>
      <range name="results.beam1.n.min.nog" value="U23" ratio="0.001"/>
      <range name="results.beam1.n.min.nug" value="U24" ratio="0.001"/>
      <range name="results.beam1.n.min.v" value="U22" ratio="0.001"/>
      <range name="results.beam2.my.max.m" value="G20" ratio="0.001"/>
      <range name="results.beam2.my.max.n" value="G21" ratio="0.001"/>
      <range name="results.beam2.my.max.nog" value="G23" ratio="0.001"/>
      <range name="results.beam2.my.max.nug" value="G24" ratio="0.001"/>
      <range name="results.beam2.my.max.v" value="G22" ratio="0.001"/>
      <range name="results.beam2.my.min.m" value="L20" ratio="0.001"/>
      <range name="results.beam2.my.min.n" value="L21" ratio="0.001"/>
      <range name="results.beam2.my.min.nog" value="L23" ratio="0.001"/>
      <range name="results.beam2.my.min.nug" value="L24" ratio="0.001"/>
      <range name="results.beam2.my.min.v" value="L22" ratio="0.001"/>
      <range name="results.beam2.n.max.m" value="Q20" ratio="0.001"/>
      <range name="results.beam2.n.max.n" value="Q21" ratio="0.001"/>
      <range name="results.beam2.n.max.nog" value="Q23" ratio="0.001"/>
      <range name="results.beam2.n.max.nug" value="Q24" ratio="0.001"/>
      <range name="results.beam2.n.max.v" value="Q22" ratio="0.001"/>
      <range name="results.beam2.n.min.m" value="V20" ratio="0.001"/>
      <range name="results.beam2.n.min.n" value="V21" ratio="0.001"/>
      <range name="results.beam2.n.min.nog" value="V23" ratio="0.001"/>
      <range name="results.beam2.n.min.nug" value="V24" ratio="0.001"/>
      <range name="results.beam2.n.min.v" value="V22" ratio="0.001"/></ranges></configuration>