<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Builder.Properties.Protection" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Builder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Builder.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Builder.Properties.Protection>
            <setting name="Protection_UseNetwork" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Protection_LicenseFile" serializeAs="String">
                <value />
            </setting>
            <setting name="Protection_ServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="Protection_Port" serializeAs="String">
                <value>19399</value>
            </setting>
        </Builder.Properties.Protection>
        <Builder.Properties.Settings>
            <setting name="MainFormX" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MainFormY" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MainFormWidth" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="MainFormHeight" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="LanguageCode" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="MainFormMaximised" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CallUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VSplitterPos" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="HSplitterPos" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="AutosaveCLS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutosaveFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="CreateBackups" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutosavePeriod" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="VSplitterRelPos" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="HSplitterRelPos" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="PageWidth" serializeAs="String">
                <value>160</value>
            </setting>
            <setting name="MRUDs" serializeAs="String">
                <value />
            </setting>
            <setting name="LanguageCode1" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="LastFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="DownloadUpdatesAutomatically" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutosaveDeletePeriod" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="DialogInputChange" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TraceComparator" serializeAs="String">
                <value />
            </setting>
            <setting name="TranslateOnlyTextsWithConstant" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveVarValuesToCLS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxWhileIterations" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CompileCLC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowIntelliSenseAutomatically" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultDrawStyle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AuthorID" serializeAs="String">
                <value>UNK</value>
            </setting>
        </Builder.Properties.Settings>
        <Builder.MySettings>
            <setting name="MainFormX" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MainFormY" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MainFormWidth" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="MainFormHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="MainFormMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RTFEditorX" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="RTFEditorY" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="RTFEditorWidth" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="RTFEditorHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="DefaultFont" serializeAs="String">
                <value>Arial, 12pt</value>
            </setting>
            <setting name="HSplitterPos" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="VSplitterPos" serializeAs="String">
                <value>450</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>0</value>
            </setting>
        </Builder.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
