<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CalcEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CalcEditor.Properties.Settings>
            <setting name="ETB_Font" serializeAs="String">
                <value>Courier New, 9.75pt</value>
            </setting>
            <setting name="Zoom" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IOViewerAutoRefresh" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HighlightTestedLines" serializeAs="String">
                <value>True</value>
            </setting>
        </CalcEditor.Properties.Settings>
    </userSettings>
</configuration>