<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="User.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <User.Properties.Settings>
      <setting name="MainForm_Left" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="MainForm_Top" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="MainForm_Width" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="MainForm_Height" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="MainForm_Maximised" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AppLangCode" serializeAs="String">
        <value>en-US</value>
      </setting>
      <setting name="ImageFormat" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ExportDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="PrintFormLeft" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="PrintFormTop" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="PrintFormWidth" serializeAs="String">
        <value>700</value>
      </setting>
      <setting name="PrintFormHeight" serializeAs="String">
        <value>700</value>
      </setting>
      <setting name="CallUpgrade" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MRUDs" serializeAs="String">
        <value />
      </setting>
      <setting name="FormLangCode" serializeAs="String">
        <value>ENU</value>
      </setting>
      <setting name="DialogInitValuesEC" serializeAs="String">
        <value />
      </setting>
      <setting name="ExportCaptions" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Zoom" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="MRFs" serializeAs="String">
        <value />
      </setting>
      <setting name="DownloadUpdatesAutomatically" serializeAs="String">
        <value>True</value>
      </setting>
    </User.Properties.Settings>
  </userSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICLC_UpdateService" maxReceivedMessageSize="2147483647"/>
        <binding name="DominoSoapBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://sdf.scia.cz/CLC_UpdateService/CLC_UpdateService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICLC_UpdateService"
        contract="CLC_UpdateService.ICLC_UpdateService" name="BasicHttpBinding_ICLC_UpdateService" />
      <endpoint address="http://notesnl.scia.nl:80/scia/Activation.nsf/SoftwareInformation?OpenWebService"
        binding="basicHttpBinding" bindingConfiguration="DominoSoapBinding"
        contract="SDF_InfoService.SoftwareInformation" name="Domino" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
