<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <!--<section name="modules" type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism"/>-->
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <appSettings>
        <!--hotfix rollup 2974335 for the Microsoft .NET Framework 4-->
        <add key="UseSetWindowPosForTopmostWindows" value="True" />
    </appSettings>
</configuration>