<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="ResultsViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <ResultsViewer.Properties.Settings>
            <setting name="TempFolder" serializeAs="String">
                <value>R:\a\bin\release\temp</value>
            </setting>
            <setting name="ProjectNumber" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ModelType" serializeAs="String">
                <value>0</value>
            </setting>
        </ResultsViewer.Properties.Settings>
    </userSettings>
</configuration>
