<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<configuration>
   <ranges>
      <range name="geometry.bracketstd.axisdistance" value="Y19" ratio="1"/>
      <range name="geometry.bracketstd.capacity" ratio="1"/>
      <range name="geometry.bracketstd.height" value="Y21" ratio="1"/>
      <range name="geometry.bracketstd.hsmax" value="Y23" ratio="1"/>
      <range name="geometry.bracketstd.item1.bfi" value="C49" ratio="1000"/>
      <range name="geometry.bracketstd.item1.bfo" value="C45" ratio="1000"/>
      <range name="geometry.bracketstd.item1.description" ratio="1"/>
      <range name="geometry.bracketstd.item1.hbeg" ratio="1000"/>
      <range name="geometry.bracketstd.item1.hend" value="C40" ratio="1000"/>
      <range name="geometry.bracketstd.item1.innerangle" value="C50" ratio="1000"/>
      <range name="geometry.bracketstd.item1.outerangle" value="C46" ratio="1000"/>
      <range name="geometry.bracketstd.item1.partid.idstr" ratio="1"/>
      <range name="geometry.bracketstd.item1.partid.name" ratio="1"/>
      <range name="geometry.bracketstd.item1.segmentindex" ratio="1"/>
      <range name="geometry.bracketstd.item1.tfi" value="C48" ratio="1000"/>
      <range name="geometry.bracketstd.item1.tfo" value="C44" ratio="1000"/>
      <range name="geometry.bracketstd.item1.tw" value="C41" ratio="1000"/>
      <range name="geometry.bracketstd.leftcolumnposition" value="Y25" ratio="1"/>
      <range name="geometry.bracketstd.rightcolumnposition" value="Y26" ratio="1"/>
      <range name="geometry.bracketstd.rmax" value="Y24" ratio="1"/>
      <range name="geometry.bracketstd.width" value="Y20" ratio="1"/>
      <range name="material.flange" value="C20" ratio="1"/>
      <range name="material.web" value="C23" ratio="1"/>
      <range name="4 ausgabe cad.craneposition" value="D13" ratio="1"/>
      <range name="results.beam1.my.max.m" value="F20" ratio="0.001"/>
      <range name="results.beam1.my.max.n" value="F21" ratio="0.001"/>
      <range name="results.beam1.my.max.nog" value="F23" ratio="0.001"/>
      <range name="results.beam1.my.max.nug" value="F24" ratio="0.001"/>
      <range name="results.beam1.my.max.v" value="F22" ratio="0.001"/>
      <range name="results.beam1.my.min.m" value="K20" ratio="0.001"/>
      <range name="results.beam1.my.min.n" value="K21" ratio="0.001"/>
      <range name="results.beam1.my.min.nog" value="K23" ratio="0.001"/>
      <range name="results.beam1.my.min.nug" value="K24" ratio="0.001"/>
      <range name="results.beam1.my.min.v" value="K22" ratio="0.001"/>
      <range name="results.beam1.n.max.m" value="P20" ratio="0.001"/>
      <range name="results.beam1.n.max.n" value="P21" ratio="0.001"/>
      <range name="results.beam1.n.max.nog" value="P23" ratio="0.001"/>
      <range name="results.beam1.n.max.nug" value="P24" ratio="0.001"/>
      <range name="results.beam1.n.max.v" value="P22" ratio="0.001"/>
      <range name="results.beam1.n.min.m" value="U20" ratio="0.001"/>
      <range name="results.beam1.n.min.n" value="U21" ratio="0.001"/>
      <range name="results.beam1.n.min.nog" value="U23" ratio="0.001"/>
      <range name="results.beam1.n.min.nug" value="U24" ratio="0.001"/>
      <range name="results.beam1.n.min.v" value="U22" ratio="0.001"/></ranges></configuration>