<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<configuration>
   <ranges>
      <range name="geometry.cornertype2.beam.bfi" value="C48" ratio="1000"/>
      <range name="geometry.cornertype2.beam.bfo" value="C44" ratio="1000"/>
      <range name="geometry.cornertype2.beam.description" ratio="1"/>
      <range name="geometry.cornertype2.beam.hbeg" ratio="1000"/>
      <range name="geometry.cornertype2.beam.hend" value="C40" ratio="1000"/>
      <range name="geometry.cornertype2.beam.innerangle" value="C49" ratio="1000"/>
      <range name="geometry.cornertype2.beam.outerangle" value="C45" ratio="1000"/>
      <range name="geometry.cornertype2.beam.partid.idstr" ratio="1"/>
      <range name="geometry.cornertype2.beam.partid.name" ratio="1"/>
      <range name="geometry.cornertype2.beam.segmentindex" ratio="1"/>
      <range name="geometry.cornertype2.beam.tfi" value="C47" ratio="1000"/>
      <range name="geometry.cornertype2.beam.tfo" value="C43" ratio="1000"/>
      <range name="geometry.cornertype2.beam.tw" value="C41" ratio="1000"/>
      <range name="geometry.cornertype2.column.bfi" value="C36" ratio="1000"/>
      <range name="geometry.cornertype2.column.bfo" value="C32" ratio="1000"/>
      <range name="geometry.cornertype2.column.description" ratio="1"/>
      <range name="geometry.cornertype2.column.hbeg" value="C28" ratio="1000"/>
      <range name="geometry.cornertype2.column.hend" ratio="1000"/>
      <range name="geometry.cornertype2.column.innerangle" value="C37" ratio="1000"/>
      <range name="geometry.cornertype2.column.l" value="S3" ratio="1000"/>
      <range name="geometry.cornertype2.column.outerangle" value="C33" ratio="1000"/>
      <range name="geometry.cornertype2.column.partid.idstr" ratio="1"/>
      <range name="geometry.cornertype2.column.partid.name" ratio="1"/>
      <range name="geometry.cornertype2.column.segmentindex" ratio="1"/>
      <range name="geometry.cornertype2.column.tfi" value="C35" ratio="1000"/>
      <range name="geometry.cornertype2.column.tfo" value="C31" ratio="1000"/>
      <range name="geometry.cornertype2.column.tw" value="C29" ratio="1000"/>
      <range name="material.flange" value="C20" ratio="1"/>
      <range name="material.web" value="C23" ratio="1"/>
      <range name="results.beam1.length" ratio="1000"/>
      <range name="results.begin.my.max.m" value="F21" ratio="0.001"/>
      <range name="results.begin.my.max.n" value="F22" ratio="0.001"/>
      <range name="results.begin.my.max.nog" value="F24" ratio="0.001"/>
      <range name="results.begin.my.max.nug" value="F25" ratio="0.001"/>
      <range name="results.begin.my.max.v" value="F23" ratio="0.001"/>
      <range name="results.begin.my.min.m" value="L21" ratio="0.001"/>
      <range name="results.begin.my.min.n" value="L22" ratio="0.001"/>
      <range name="results.begin.my.min.nog" value="L24" ratio="0.001"/>
      <range name="results.begin.my.min.nug" value="L25" ratio="0.001"/>
      <range name="results.begin.my.min.v" value="L23" ratio="0.001"/>
      <range name="results.begin.n.max.m" value="R21" ratio="0.001"/>
      <range name="results.begin.n.max.n" value="R22" ratio="0.001"/>
      <range name="results.begin.n.max.nog" value="R24" ratio="0.001"/>
      <range name="results.begin.n.max.nug" value="R25" ratio="0.001"/>
      <range name="results.begin.n.max.v" value="R23" ratio="0.001"/>
      <range name="results.begin.n.min.m" value="X21" ratio="0.001"/>
      <range name="results.begin.n.min.n" value="X22" ratio="0.001"/>
      <range name="results.begin.n.min.nog" value="X24" ratio="0.001"/>
      <range name="results.begin.n.min.nug" value="X25" ratio="0.001"/>
      <range name="results.begin.n.min.v" value="X23" ratio="0.001"/>
      <range name="results.end.my.max.m" value="G21" ratio="0.001"/>
      <range name="results.end.my.max.n" value="G22" ratio="0.001"/>
      <range name="results.end.my.max.nog" value="G24" ratio="0.001"/>
      <range name="results.end.my.max.nug" value="G25" ratio="0.001"/>
      <range name="results.end.my.max.v" value="G23" ratio="0.001"/>
      <range name="results.end.my.min.m" value="M21" ratio="0.001"/>
      <range name="results.end.my.min.n" value="M22" ratio="0.001"/>
      <range name="results.end.my.min.nog" value="M24" ratio="0.001"/>
      <range name="results.end.my.min.nug" value="M25" ratio="0.001"/>
      <range name="results.end.my.min.v" value="M23" ratio="0.001"/>
      <range name="results.end.n.max.m" value="S21" ratio="0.001"/>
      <range name="results.end.n.max.n" value="S22" ratio="0.001"/>
      <range name="results.end.n.max.nog" value="S24" ratio="0.001"/>
      <range name="results.end.n.max.nug" value="S25" ratio="0.001"/>
      <range name="results.end.n.max.v" value="S23" ratio="0.001"/>
      <range name="results.end.n.min.m" value="Y21" ratio="0.001"/>
      <range name="results.end.n.min.n" value="Y22" ratio="0.001"/>
      <range name="results.end.n.min.nog" value="Y24" ratio="0.001"/>
      <range name="results.end.n.min.nug" value="Y25" ratio="0.001"/>
      <range name="results.end.n.min.v" value="Y23" ratio="0.001"/></ranges></configuration>